<div class="row">
  <div class="span7">
    <h1>Hi, my name is Michał!</h1>
    <p>
      I'm an ex Java developer, currently enjoying coding in Ruby and JavaScript.
      I work professionally as a software developer since 2009, mostly involved in building web applications.
    </p>
    <p>
      After hours i am a big fan of basketball and computer games. Feel free to <a href="mailto:michal.pasierbski@sooftly.com">contact</a> me if you got any questions.
    </p>
    <p>
    You can also find me on <a href="#"><img src="/img/github.png" alt='github'/></a>.
    </p>
  </div>
  <div class="span5">
    <a class="twitter-timeline" href="https://twitter.com/mpasierbski" data-widget-id="332225941302546435">Tweets by @mpasierbski</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

