/* Sooftly */
body {
  font-size: 14px;
  color: #444;
  background: url('/img/binding_light.png') 0 0 repeat;
  text-shadow: 1px 1px 1px #FFFFFF;
}
body > .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
p { line-height: 180%; margin: 20px 0; }
footer {
  padding: 50px 0;
  background: url('/img/10op.png') 0 0 repeat;
  font-size: 13px;
}
footer h5 {
  margin-bottom: 20px;
  text-decoration: underline;
}
footer p { text-align: center; }
footer ul.inline > li {
  float: left;
  margin-right: 100px;
}
.navbar {
  -moz-box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
  box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
}
.nav li a i { margin-top: -1px; margin-right: 2px; }
.nav-tabs > li > a { background-color: #fff; }
.top-menu ul li a {
  font-size: 12px;
  background: transparent url('/img/downarrow.png') no-repeat left center;
  padding: 0 0 0 13px;
  color: #eee;
  text-decoration: none;
  font-family: Verdana;
  font-style: normal;
}
.navbar a.home-link {
  display: inline-block;
  background: url("/img/sooftly-top.png") 0 0 no-repeat;
  width: 125px;
  height: 42px;
  text-indent: -2000em;
  overflow: hidden;
  margin: 5px 0;
  padding: 0;
}
.wdw-banner {
  display: block;
  background: url('/img/sooftly-wdw.png') 0 0 no-repeat;
  width: 530px;
  height: 70px;
  margin: 100px auto 0 auto;
}
.disclaimer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 150px;
  font-size: 22px;
  font-style: italic;
  font-family: "Times New Roman";
}
a.close {
  float: right;
  font-family: Arial;
  font-style: normal;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
ul.projects-list {
  list-style: none;
  margin-left: 0;
}
ul.projects-list li {
  float: left;
}
.span12 ul.projects-list li { 
  width: 33%;
}
.project-image, img.project {
  display: block;
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.project img.project { margin: 20px 0; }
ul.projects-list .project-image{
  width: 230px;
  height: 100px;
  margin-bottom: 20px;
}
ul.projects-list li a .project-image.holiday { background-position: -0px 50px; }
.big ul.projects-list li a .project-image {
  width: 90%;
}
.span12 .search-container { display: none; }
.search-container { margin-bottom: 15px; }
h1 {
  font-size: 27px;
  display: inline-block;
  font-style: italic;
  font-family: 'Times New Roman';
  margin: 10px;
  color: #000;
}
.twitter { width: 450px; }
input[type=text]{
  color:#bcbcbc;
  background-color: white;
}
.clear-input { margin-left: -20px; font-weight: bold; cursor: pointer; }
blockquote {
  background:#f9f9f9;
  border-left:10px solid #ccc;
  margin:30px 10px;
  padding:.5em 10px;
  quotes:"\201C"\201D"\2018"\2019";
}
blockquote:before {
  color:#ccc;
  content:open-quote;
  line-height:.1em;
  font-size: 4em;
  margin-right:.25em;
  vertical-align:-.4em;
}
blockquote p {
  display:inline;
  font-size: 14px;
  line-height: 170%;
}
