/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Sooftly */
body {
  background: url('/images/binding_light.png') 0 0 repeat;
  font-size: 14px;
  font-style: italic;
  font-family: "Times New Roman";
  font-size: 18px;
  color: #444;
}
p {
  margin:10px 0;
  font-style: normal;
  line-height: 1.3em;
}
.top { 
  width: 100%;
  background-color: #313131;
  position: fixed;
  top: 0;
  left: 0;
  -moz-box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
  box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
}
.top-container { width: 950px; margin: 0 auto; }
.top-menu { float: right; }
.top-menu ul li {
  float: left;
  padding: 10px;
}
.top-menu ul li a {
  font-size: 12px;
  background: transparent url('/images/downarrow.png') no-repeat left center;
  padding: 0 0 0 13px;
  color: #eee;
  text-decoration: none;
  font-family: Verdana;
  font-style: normal;
}
.top-menu ul li a:hover { text-decoration: underline; color: #fff; }
a.home-link {
  display: inline-block;
  background: url("/images/sooftly-top.png") 0 0 no-repeat;
  width: 125px;
  height: 42px;
  text-indent: -2000em;
  overflow: hidden;
  margin: 5px 0;
}
.wdw-banner {
  display: block;
  background: url('/images/sooftly-wdw.png') 0 0 no-repeat;
  width: 530px;
  height: 70px;
  margin: 100px auto 0 auto;
}
.disclaimer {
  text-align: center;
  margin-top: 20px;
}
a.close {
  float: right;
  font-family: Arial;
  font-style: normal;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.container { width: 950px; margin: 130px auto 0 auto; position: relative; }
.container .left-column { overflow: hidden; width: 250px; float: left; border-right: 1px solid #888; }
.container .left-column.big { width: 100%; float: none; border-right: none; }
.container .right-column { 
  margin-left: 260px;
  padding-left: 20px;
}
ul.projects-list li {
  float: left;
  clear: right;
  width: 100%;
}
.big ul.projects-list li { 
  width: 30%;
}
.project-image, img.project {
  display: block;
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.project img.project { margin: 20px 0; }
ul.projects-list .project-image{
  width: 230px;
  height: 100px;
  margin-bottom: 20px;
}
ul.projects-list li a .project-image.holiday { background-position: -0px 50px; }
.big ul.projects-list li a .project-image {
  width: 90%;
}
.big .search-container { display: none; }
.search-container { margin-bottom: 15px; }
.project h1 {
  font-size: 27px;
  display: inline-block;
  font-style: normal;
  margin: 10px;
}
.search {
  width: 180px;
  padding:6px 15px 6px 30px;
  margin:3px;
  background: url('/images/search.png') no-repeat 8px 6px;
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}
input[type=text]{
  color:#bcbcbc;
  background-color: white;
}
.clear-input { margin-left: -30px; font-weight: bold; cursor: pointer; }
td.fixed-m { width: 180px; }
