- content_hash[:title] = '- Contact'

.left-column
	%h1 contact

.right-column
	.section
		%p 
			Feel free to email us at 
			%a{ :href => 'mailto:michal.pasierbski@sooftly.com' } michal.pasierbski@sooftly.com
			 

.spacer.inner
