- content_hash[:title] = '- Home'

.left-column
	%h1 sooftly

.right-column
	.section
		%p 
			We are web development company. We work with 
			%a{ :href => 'http://rubyonrails.org/', :target => 'blank' } Ruby on Rails 
			and we love it.

.spacer.inner
