- content_hash[:title] = '- Projects'

.left-column
	%h1 web apps

.right-column
	.section.project
		%p 
			%span.project-title Holiday planner
			%span
				%a.box{ :href => 'http://holidayplannerapp.com', :target => 'blank' } view site
				%a.box{ :href => 'https://github.com/pasierb/holiday-planner', :target => 'blank' } source code
		.project-image
			= img( '/images/projects/holidayplanner.png' )
		%p
			Open source web tool allowing easy... holiday planning.  
			%ul
				%li Facebook integration
				%li Available in Poland, Italy, Great Bretain

.spacer.inner

.left-column
	%h1 static pages

.right-column
	.section.project
		%p
			%span.project-title Sooftly.com 
			%span
				%a.box{ :href => 'https://github.com/pasierb/sooftly' } source code
		.project-image
			= img( '/images/projects/sooftly.png' )
		%p
			This very page. 

.spacer.inner
