- content_hash[:title] = '- Projects'

.left-column
	%div.projects-list-menu
		%h1 web apps

		%ul.projects-list
			%li
				%a{ :href => "#recentphotos" } RecentPhotos
			%li
				%a{ :href => "#easpolska" } EAS Polska sp. z o.o.
			%li
				%a{ :href => "#holidayplanner" } HolidayPlanner
			%li
				%a{ :href => "#countdowns" } Countdowns

.right-column
	.section.project
		%p 
			%span.project-title 
				%a{ :name => "recentphotos", :href => 'http://recentphotosapp.com', :target => 'blank' } RecentPhotos
			%span
				%a.box{ :href => 'http://recentphotosapp.com', :target => 'blank' } view site
		.project-image{ :alt => 'http://recentphotosapp.com' }
			%a{ :href => 'http://recentphotosapp.com', :target => 'blank' }
				= img( 'projects/recentphotos.png' )
		%p
			RecentPhotos is a fabulous iOS app that keeps your phone book up to date with the latest photos of your contacts and lets you easily share your own pics.
		%p 
			What we did? Server side and web frontend scripting.
		%p 
			Used technologies: Ruby on Rails 2.3, Javascript/Ajax (jQuery), PostgreSQL

	.section.project
		%p 
			%span.project-title 
				%a{ :name => "easpolska" } EAS Polska sp. z o.o.
			%span
		.project-image{ :alt => 'EAS Polska sp. z o.o.' }
			= img( 'projects/easpolska.png' )
		%p
			Flexible CMS system for our Polish client form security sector.
		%p
			Used technologies: Ruby on Rails 3.0, Javascript/Ajax (jQuery), PostgreSQL
	
	.section.project
		%p 
			%span.project-title 
				%a{ :name => "holidayplanner", :href => 'http://holidayplannerapp.com', :target => 'blank' } Holiday planner
			%span
				%a.box{ :href => 'http://holidayplannerapp.com', :target => 'blank' } view site
				%a.box{ :href => 'https://github.com/pasierb/holiday-planner', :target => 'blank' } source code
		.project-image{ :alt => 'http://holidayplannerapp.com' }
			%a{ :href => 'http://holidayplannerapp.com', :target => 'blank' }
				= img( 'projects/holidayplanner.png' )
		%p
			Open source web tool allowing easy... holiday planning.  
			%ul
				%li Facebook integration
				%li Available in Poland, Italy, England, Wales, Northen Ireland
		%p 
			Used technologies: Ruby on Rails 3.0, Javascript/Ajax (jQuery), PostgreSQL
	
	.section.project
		%p 
			%span.project-title 
				%a{ :name => "countdowns", :href => 'http://countdowns.sooftly.com', :target => 'blank' } Countdowns
			%span
				%a.box{ :href => 'http://countdowns.sooftly.com', :target => 'blank' } view site
		.project-image{ :alt => 'http://countdowns.sooftly.com' }
			%a{ :href => 'http://countdowns.sooftly.com', :target => 'blank' }
				= img( 'projects/countdowns.png' )
		%p
			Another 'just for fun' app. Create Your own countowns, share it via facebook, paste it on forums, do whatever You like with it.  
		%p
			Used technologies: Ruby on Rails 3.0, Javascript/Ajax (jQuery), PostgreSQL

.spacer.inner


:javascript
	$(function() {
		$('ul.projects-list li a').bind('click',function(event){
			var $anchor = $(this);
			$('html, body').stop().animate({ scrollTop: $("a[name*='"+$anchor.attr('href').substr(1)+"']").offset().top }, 500);
			event.preventDefault();
		});
	});

	var name = "div.projects-list-menu";
	var menuYloc = null;

	$(window).load(function(){
		menuYloc = parseInt($(name).css("top").substring(0,$(name).css("top").indexOf("px")));
		menuYOffsetTop = $(name).offset().top;
		$(window).scroll(function () { 
			scroll = $(document).scrollTop();
			offset = scroll-menuYOffsetTop+20+"px";
			if( scroll > menuYOffsetTop-menuYloc ){ $(name).animate({top:offset},{duration: 100, queue:false}); } 
			else { $(name).css('top', menuYloc); }
		});
	}); 
