- content_hash[:title] = '- Projects'

.left-column
	%h1 web apps

.right-column
	.section.project
		%p 
			%span.project-title 
				%a{ :href => 'http://holidayplannerapp.com', :target => 'blank' } Holiday planner
			%span
				%a.box{ :href => 'http://holidayplannerapp.com', :target => 'blank' } view site
				%a.box{ :href => 'https://github.com/pasierb/holiday-planner', :target => 'blank' } source code
		.project-image{ :alt => 'http://holidayplannerapp.com' }
			%a{ :href => 'http://holidayplannerapp.com', :target => 'blank' }
				= img( 'projects/holidayplanner.png' )
		%p
			Open source web tool allowing easy... holiday planning.  
			%ul
				%li Facebook integration
				%li Available in Poland, Italy, England, Wales, Northen Ireland
	
	.section.project
		%p 
			%span.project-title 
				%a{ :href => 'http://countdowns.sooftly.com', :target => 'blank' } Countdowns
			%span
				%a.box{ :href => 'http://countdowns.sooftly.com', :target => 'blank' } view site
		.project-image{ :alt => 'http://countdowns.sooftly.com' }
			%a{ :href => 'http://countdowns.sooftly.com', :target => 'blank' }
				= img( 'projects/countdowns.png' )
		%p
			Another 'just for fun' app. Create Your own countowns, share it via facebook, paste it on forums, do whatever You like whith it.  

.spacer.inner

.left-column
	%h1 static pages

.right-column
	.section.project
		%p
			%span.project-title 
				%a{ :href => 'http://sooftly.com' } Sooftly 
			%span
				%a.box{ :href => 'https://github.com/pasierb/sooftly', :target => 'blank' } source code
		.project-image{ :alt => 'http://sooftly.com' }
			%a{ :href => 'http://sooftly.com' }
				= img( 'projects/sooftly.png' )
		%p
			This very page. 

.spacer.inner
